$color-mid: chocolate;


.jumbotron {
    margin: 0;
    padding: 30px;
}

.navbar {
    background-color: $color-mid;
}

a, a:hover {
    color: inherit;
    text-decoration: none;
}
footer {
    padding: 20px 0;
    margin: 20px 0;
    background-color: $color-mid;
}

#loginModal {
    .modal-header {
        background-color: $color-mid;
    }
}
