.jumbotron {
  margin: 0;
  padding: 30px; }

.navbar {
  background-color: chocolate; }

a, a:hover {
  color: inherit;
  text-decoration: none; }

footer {
  padding: 20px 0;
  margin: 20px 0;
  background-color: chocolate; }

#loginModal .modal-header {
  background-color: chocolate; }
